.div1{
    
  background-color: rgb(88, 10, 189);    
  
  height: 600px;
 
  
  margin:100px 600px ;
  width: 30%;
  border: 3px solid #010723;
  padding: 10px;
  border-radius: 10px;
}

body{

  margin: 0px;
  padding: 0px;
  background-image: url(bg.jpg);
  background-size: cover;
  height: 100vh;
  
  
  

}

span{
  color: rgb(240, 14, 14);
}

.form{

   align-content:center ;
}

.manu-bar{
  
 
  background-color: antiquewhite;
  text-align: center;
}

.manu-bar ul {
  display: inline-flex;
  list-style: none;
  color: #000;
  
}

.manu-bar ul li  {
  width: 120px;
  margin: 15px; 
  padding: 15px;
  
}